<footer>
  <div class="container">
    <div class="foot-links">
      <a href="https://github.com/rcanand">GitHub</a>
      <a href="https://www.linkedin.com/in/anandrc/">LinkedIn</a>
      <a href="https://x.com/rcanand">X</a>
      <a href="https://rcanand.hashnode.dev/">Hashnode</a>
      <a href="https://medium.com/@rcanand">Medium</a>
      <a href="https://rcanand.gumroad.com">Gumroad</a>
      <a href="https://www.amazon.com/stores/R.-C.-Anand/author/B0DNY6PYPW">Kindle</a>
      <a href="https://www.quora.com/profile/Anand-C-Ramanathan">Quora</a>
      <a href="https://mlaillc.github.io">MLAI LLC</a>
    </div>
    <p>Anand C Ramanathan - Bellevue, WA</p>
  </div>
</footer>
