<nav>
  <div class="container">
    <a href="/" class="nav-logo">Anand Ramanathan (RC)</a>
    <div class="nav-links">
      <a href="/"{% if page.url == "/" %} class="active"{% endif %}>Home</a>
      <a href="/blog/reading_list/"{% if page.url == "/blog/reading_list/" %} class="active"{% endif %}>Reading list</a>
      <a href="/blog/x_threads/"{% if page.url == "/blog/x_threads/" %} class="active"{% endif %}>X threads</a>
      <a href="/blog/products/"{% if page.url == "/blog/products/" %} class="active"{% endif %}>Products</a>
      <a href="/blog/"{% if page.url == "/blog/" %} class="active"{% endif %}>Blog</a>
      <a href="/blog/about/"{% if page.url == "/blog/about/" %} class="active"{% endif %}>About</a>
    </div>
  </div>
</nav>
